rules:
	- PlentymarketsRules\Rules\DisallowedNewRule
	- PlentymarketsRules\Rules\DisallowedFunctionsRule
	- PlentymarketsRules\Rules\DisallowedClassRule
	- PlentymarketsRules\Rules\DisallowedDynamicPropertyAccess
	- PlentymarketsRules\Rules\DisallowConstantVisibility